$primaryLinkColor: #FFF;
$hoverLinkColor: #D2D2D2;

.Link {
  color: $primaryLinkColor;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}

.Link:hover {
  color: $hoverLinkColor;
  border-bottom-color: #D2D2D2;
}
