$primaryTextColor: #FFF;
$secondaryTextColor: #9e9e9e;

.c-search-header__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $secondaryTextColor;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 1.2em 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
  color: $secondaryTextColor;

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $primaryTextColor;
    box-shadow: 0 1px 0 0 $primaryTextColor;
  }

  &:focus {
    color: $primaryTextColor;
  }
}
